table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 35rem;
  }
  th,
  td {
    padding: 10px 20px;
    border: 1px solid #000;
  }

  body {
    background: rgb(212, 246, 255);
    margin: 0 auto;
  }
  h1{
    margin-left: 30rem;
  }
  h2{
    margin-left: 36.5rem;
  }