:root {
  --morado: #ba87e4;
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 20px;
  transition: all 0.2s linear;
  align-items: center;
}

input {
  display: block;
  padding: 1rem;
  margin: 1.3rem 0;
  background: #333;
  color: #fff;
  border-radius: 1rem;
  width: 20rem;
}
select {
  display: block;
  padding: 1rem;
  margin: 1.3rem 0;
  background: #333;
  color: #fff;
  width: 20rem;
}

input:hover {
  background: var(--morado);
}
body {
  background: rgb(212, 246, 255);
  padding-left: 25rem;
  margin: 0 auto;
}

#cont3 {
  text-align: center;
  width: 20rem;
  height: 14rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

h1{
    text-align:justify;
    margin: 30px 0px 0px 45px;
}